@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

* {
    box-sizing: border-box;
}

.padding-05-1 {
    padding: 0.5rem 1rem;
}

.padding-075-1 {
    padding: 0.75rem 1rem;
}
.padding-1-1{
    padding: 1rem;
}

.padding-0-0 {
    padding: 0;
}

.margin-0-0 {
    margin: 0;
}
.margin-1-1{
    margin: 1rem;
}
.margin-1-0{
    margin: 1rem 0rem;
}
.margin-1-auto{
    margin: 1rem auto;
}
.margin-2-auto {
    margin: 2rem auto;
}

.font-size-09 {
    font-size: 0.9rem;
}

.font-size-125 {
    font-size: 1.25rem;
}

.font-weight-400 {
    font-weight: 400;
}

.gray-text {
    color: var(--color-dark-gray);
}

.display-flex {
    display: flex;
    justify-content: center;
}

.display-flex-column{
    display: flex;
    flex-flow: column wrap;
}
.list-style-none {
    list-style: none;
}

.box-shadow{
    box-shadow: 0 0 10px rgb(0 0 0 / 9%);
}

.nav-container {
    box-shadow: 0 0 10px 4px rgb(0 0 0 / 7%);
}

.search-bar {
    display: flex;
    border: 1px solid var(--color-gray);
    border-radius: 0.25rem;
    margin-left: auto;
    justify-content: space-between;
}

.btn-search {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.search-input {
    border: none;
    width: 15rem;
    background-color: transparent;
}

.search-input:focus {
    outline: none;
}

.nav-social-links {
    margin-left: 0;
}

.badge-container .nav-btns {
    padding: 0;
}

.badge-container .nav-btns~.status-text {
    right: -0.45em;
    top: -1.2em;
    padding: 0.6rem 0.25rem;
}

.overlay-image-container {
    width: 90%;
    margin: 2rem auto;
    position: relative;
}

.overlay-banner-text {
    position: absolute;
    top: 1em;
    left: 5em;
    max-width: 20rem;
    font-family: 'Open Sans', sans-serif;
    z-index: 1;
}

.banner-img-description {
    font-size: 3rem;
    font-weight: 600;
    color: var(--color-white);
}

.banner-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.overlay-card {
    height: fit-content;
}

.btn-navigate {
    font-size: 2rem;
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--color-light-gray);
}

.spacer-div {
    height: 0.5rem;
    max-width: 30rem;
    margin: 2rem auto;
    margin-bottom: 5rem;
    border-radius: 50rem;
}

/* --------------------------LOGIN AND SIGN UP----------------------------- */

.flex-center-screen {
    margin: 5rem auto;
    max-width: 25rem;
}

.auth-container {
    font-size: 0.9rem;
    width: 100%;
    padding: 0.75rem 1rem;
    display: flex;
    flex-flow: column wrap;
    gap: 1.5rem;
    border-radius: 0.25rem;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}

.auth-container:hover {
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
}

.form-field {
    width: 100%;
}

.btn-login {
    margin-top: 1rem;
}

.h2 {

    text-align: center;
    color: var(--color-darker-gray);
}

.input-password-container {
    position: relative;
}

.btn-eye {
    color: var(--color-dark-gray);
    position: absolute;
    top: 0.8rem;
    right: 0.8rem;
    cursor: pointer;
}

@media screen and (max-width: 60em) {

    /*------ Temporarily----- */

    .search-bar {
        display: none;
    }

    #nav-btn-login {
        display: none;
    }
}

@media screen and (max-width: 30em) {

    .flex-center-screen {
        margin: 2rem 1rem;
    }
}

/* -----------------------------------BOOTS------------------------------------------- */

.filter-titles {
    display: flex;
    justify-content: space-between;
}

.divider {
    background-color: var(--color-gray);
    height: 0.5px;
    margin: 0.75rem 0rem;
}

.filter-section li {
    padding: 0.5rem 0rem;
}

.accent-color {
    accent-color: var(--color-barcelona-red);
}

@media screen and (max-width: 60em) {

    /*------ Temporarily------ */

    .sidebar-container {
        height: 5rem;
    }

    .main-container {
        padding: 1rem;
    }
}

/* -----------------------------------CART------------------------------------------- */

.grid-2-column-layout {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    /* max-width: 800px ; */
    /* max-width: 70%; */
    margin: 0 auto;
}

.cart-products-container {
    gap: 1rem;
    /* margin: 0 auto; */
}
.bill-container{
    min-width: 15rem;
    width: 25rem;
}
.address-container{
   
}
.space-between{
    justify-content: space-between;
}
.green-text{
    color: var(--color-alert-succes-text);
}

