@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.padding-05-1 {
    padding: 0.5rem 1rem;
}

.padding-075-1 {
    padding: 0.75rem 1rem;
}

.nav-container {
    box-shadow: 0 0 10px 4px rgb(0 0 0 / 7%);
}

.search-bar {
    display: flex;
    border: 1px solid var(--color-gray);
    border-radius: 0.25rem;
    margin-left: auto;
    justify-content: space-between;
}

.btn-search {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.search-input {
    border: none;
    width: 15rem;
    background-color: transparent;
}

.search-input:focus {
    outline: none;
}

.nav-social-links {
    margin-left: 0;
}

.badge-container .btn {
    padding: 0;
}

.badge-container .btn~.status-text {
    right: -0.45em;
    top: -0.9em;
    padding: 0.6rem 0.25rem;
    display: none;
}

.overlay-image-container {
    width: 90%;
    margin: 2rem auto;
    position: relative;
}

.overlay-banner-text {
    position: absolute;
    top: 1em;
    left: 5em;
    max-width: 20rem;
    font-family: 'Open Sans', sans-serif;
    z-index: 1;
}

.banner-img-description {
    font-size: 3rem;
    font-weight: 600;
    color: var(--color-white);
}

.banner-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.overlay-card {
    height: fit-content;
}

.btn-navigate{
    font-size: 2.5rem;
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--color-light-gray);
    transition: 0.35s ease-in-out;
}

.spacer-div {
    height: 0.5rem;
    max-width: 30rem;
    margin: 2rem auto;
    margin-bottom: 5rem;
    border-radius: 50rem;
}